body {
    background-image: url("images/bacground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background-color: #444444;
    width: 80%;
    padding-left: 50px;
    margin-left: 100px;
    border-radius: 30px;
}

.headertext {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
}

.animalimg {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 35px;
    opacity: 0.8;
}

.animalimg:hover {
    opacity: 1;
    transition: opacity 1s ease-in;
    transform: scale(0.7);
}